body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Warna latar belakang yang lebih lembut */
}

.header {
    display: flex; /* Menggunakan flexbox untuk tata letak header */
    justify-content: space-between; /* Ruang antara elemen */
    align-items: center; /* Pusatkan elemen secara vertikal */
    padding: 10px 20px; /* Padding untuk header */
    background-color: #FF6F61; /* Warna latar belakang header */
    color: white; /* Warna teks header */
}

.social-links a {
    color: white; /* Warna tautan */
    text-decoration: none; /* Tanpa garis bawah */
}

.menu-button {
    font-size: 24px; /* Ukuran font untuk tombol menu */
    cursor: pointer; /* Kursor tangan saat hover */
}

.container {
    max-width: 800px; /* Lebar maksimum kontainer */
    margin: 50px auto; /* Margin otomatis untuk pusat kontainer */
    padding: 20px; /* Padding di dalam kontainer */
    background-color: white; /* Warna latar belakang kontainer */
    border-radius: 12px; /* Sudut melengkung */
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2); /* Bayangan kontainer */
}

.result-box img {
    max-width: 100%; /* Memastikan gambar tidak melebihi lebar kotak hasil */
    margin-top: 10px; /* Jarak atas untuk gambar */
}